<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  <footer>
<a href="/">Home</a>
<a href="/searchById">Search info by Id</a>
<a href="/addInfo">Add new Kanatunta</a>
<a href="/deleteInfoById">Delete Kanatunta</a>
<a href="/about">About</a>
 </footer>
<br>
<div class="viva-docker">Long Life Docker </div>
<a href="https:www.docker.com" target = "_blank" >
<img width=100 heigth=80 src="https://www.docker.com/sites/default/files/social/docker_facebook_share.png" alt="docker whale"/></a>
  </body>
</html>
