<h1>{{title}}</h1>
<form action="/showInfoById" method="POST">
<label name="id">Search: 
<input name="id" type="text" placeholder="search by id"/>
</label>
<input type="submit" value="Submit"/>
</form>
<br>
<ul>First ten posible searches
  {{#each this.kanatuntas as |key|}}
    <li>Can search, <span class='zoom'>{{key}}</span></li>
  {{/each}}
</ul>




