<h1>{{title}}</h1>
<form action="/realUpdate" method="post">
    <label for="id">Id:
        <input type="text" name="id" placeholder="id">
    </label>
    <input type="submit" value="Get Info">
</form >
<ul>First ten posibble updating candidates
  {{#each this.kanatuntas as |key|}}
    <li>Can be update <span class='zoom'>{{key}}</span></li>
  {{/each}}
</ul>