body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main {  
  height: 350px;
  background-color: bisque;
}
a {
  color: #00b7ff;
}

.footer {
  color: darkblue;
}

h1 {
  color: darkgoldenrod;
}
label {
  padding: 5px;
  color: darkgrey;
  font-style: italic;
  font-weight: bold;
  display: block;
  width: 10%;
}
a {  
  padding: 1px;
  text-decoration: none;
  color: white;
  background-color: gray;
}
a:hover {
  background-color: black;
}

.zoom {
  margin: 2px;
  background-color: darkgoldenrod;
  border-radius: 4px;
}

.viva-docker {
  background-color: darkgoldenrod;
  text-align: center;
}

.upper {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}
